# shellcheck shell=bash

strict_env

function mrx() {
  .direnv/mrx/bin/mrx "${@}"
}

nix build '#_.mrx' --out-link .direnv/mrx --print-build-logs

# Build and add paths discovered by 'mrx build'
while read -r file; do
  PATH_add "${file}"
done < <(
  mrx build \
    --generate \
    --hook
)

# Add watch-files for dependencies within this file
dependencies=()

while read -r file; do
  watch_file "${file}"
done < <(
  mrx show \
    watch-files \
    "${dependencies[@]}"
)

watch_file flake.lock
